<div th:fragment="sidebar" class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title"><span>인사관리시스템</span></li>
				
				<li><a href="/pay/pay-item"><i class="ti ti-cash"></i> <span>급여</span></a></li>
				<li><a href="#"><i class="ti ti-chart-infographic"></i> <span>평가</span></a></li>
				<li><a href="#"><i class="ti ti-users"></i> <span>인사</span></a></li>
				<li><a href="#"><i class="ti ti-user-off"></i> <span>퇴직</span></a></li>
				<li><a href="#"><i class="ti ti-user-plus"></i> <span>발령</span></a></li>
				<li><a href="#"><i class="ti ti-gift"></i> <span>복리후생</span></a></li>
				<li><a href="#"><i class="ti ti-calendar-time"></i> <span>근태</span></a></li>
				<li><a href="#"><i class="ti ti-building-cottage"></i> <span>휴양소</span></a></li>
				<li><a href="#"><i class="ti ti-sitemap"></i> <span>조직관리</span></a></li>
				<li><a href="#"><i class="ti ti-clipboard-check"></i> <span>결재</span></a></li>
				<li><a href="#"><i class="ti ti-file-text"></i> <span>신청서비스</span></a></li>
				<li><a href="#"><i class="ti ti-file-dollar"></i> <span>연말정산</span></a></li>
				<li><a href="#"><i class="ti ti-settings"></i> <span>공통</span></a></li>
                <li><a href="/pay/pay-item/test"><i class="ti ti-settings"></i> <span>그리드test</span></a></li>
			</ul>
		</div>
	</div>
</div>